body {
  font-family: "Abril Fatface", cursive;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #c70039;
  color: white;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  padding: 5px;
  
}

.past {
  background-color: #d3d3d3;
  color: black;
  font-size: 20px;
  border-radius: 5px;
}

.present {
  background-color: #ff6961;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.future {
  background-color: #77dd77;
  color: black;
  font-size: 20px;
  border-radius: 5px;
}

.saveBtn {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #c70039;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border-color: black;
}
.row {
  font-weight: normal;
  font-size: 20px;
  padding: 5px;
}
